@import 'tailwindcss';

body {
  margin: 0;
  background-color: #f3f4f6;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

#projects {
  background-color: #FFFFFF;
  color: #473871;
}

#contact {
  background-color: #473871;
  color : #FFFFFF;
}

#about {
  background-color: #473871;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  pointer-events: none;
}

.highlight {
  z-index: 25 !important;
}

